<ion-content>
  <div class="todoapp">
    <div class="header">
      <h1>todos</h1>
      <ion-item>
        <ion-input class="new-todo" placeholder="Qué te recuerdo?" autofocus="" [(ngModel)]="newTodoText" autocorrect="on"></ion-input>
        <ion-button clear item-right (click)="addTodo()">Guardar</ion-button>
      </ion-item>
    </div>
    <div class="main">
      <ul class="todo-list">
        <li *ngFor="let todo of todos" [class.completed]="todo.completed" [class.editing]="todo.editing">
          <div class="view">
            <input class="toggle" type="checkbox" (click)="toggleCompletion(todo)" [checked]="todo.completed">
            <label (dblclick)="editTodo(todo)">{{todo.title}}</label>
            <button class="destroy" (click)="remove(todo)"></button>
          </div>
          <input class="edit" *ngIf="todo.editing" [value]="todo.title" #editedtodo (blur)="stopEditing(todo, editedtodo.value)" (keyup.enter)="updateEditingTodo(todo, editedtodo.value)" (keyup.escape)="cancelEditingTodo(todo)">
        </li>
      </ul>
    </div>
  </div>
</ion-content>
