<ion-content>
  <div class="todoapp">
    <div class="header">
      <h1>todos</h1>
      <ion-item>
        <ion-input class="new-todo" placeholder="Qué te recuerdo?" autofocus="" [(ngModel)]="newTodoText" autocorrect="on"></ion-input>
        <ion-button clear item-right (click)="addTodo()">Guardar</ion-button>
      </ion-item>
    </div>
    <div class="main">
      <ul class="todo-list">
        <li *ngFor="let todo of todos" [class.completed]="todo.completed" [class.editing]="todo.editing">
          <div class="view">
            <ion-checkbox
              class="toggle"
              (click)="toggleCompletion(todo)"
              [checked]="todo.completed"
            ></ion-checkbox>
            <label (click)="editTodo(todo)">{{todo.title}}</label>
            <button class="destroy" (click)="remove(todo)"></button>
          </div>
          <ion-item *ngIf="todo.editing">
            <ion-input class="edit" [value]="todo.title" #editedtodo (ionBlur)="cancelEditing(todo)"></ion-input>
            <ion-button clear item-right (click)="updateEditingTodo(todo, editedtodo.value)">Guardar</ion-button>
          </ion-item>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer" *ngIf="todos?.length > 0">
		<span class="todo-count">
      <strong>{{getRemaining()?.length}}</strong>
      {{getRemaining().length == 1 ? 'item' : 'items'}} restantes
    </span>
    <button
      class="clear-completed"
      *ngIf="getCompleted()?.length > 0"
      (click)="removeCompleted()"
    >
      Limpiar completados
    </button>
	</div>
</ion-content>
